.current-date {
    height: 49px;
    margin-bottom: 37px;
    /*text-align: right;*/
    padding-top: 17px;
}

.current-date .title {
    font-size: 20px;
    vertical-align: middle;
}

.btn-add-new-user {
    background: #0254A3 0 0 no-repeat padding-box;
    box-shadow: 0 2px 4px #00000029;
    border-radius: 4px;
    color: #ffffff;
    padding: 11px 27px;
    text-align: center;
    font: bold 16px/22px Open Sans;
    letter-spacing: 0;
    margin-left: 20px;
}

.btn-add-new-user:hover {
    color: #ffffff;
}
